* {
  box-sizing: border-box;
}
html {
  font-size: 10px;

  /* blur: 5px; */
}
.background {
  position: absolute;
  background: url('./background.jpg') bottom center;
  background: url('./david-martin-6NpYOFB3VCI-unsplash-L.jpg') bottom center;
  background-size: cover;
  top: 0px;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  /* filter: blur(1px); */
  filter: grayscale() blur(2px) contrast(80%);
  filter: grayscale() blur(2px) contrast(80%);
  transform: scale(1.1);
  /* filter: drop-shadow(16px 16px 20px blue); */
}
.color-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 150, 250, 0.2);
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
body,
html {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-family: 'Potta One', sans-serif; /*cursive;*/
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.photoby {
  opacity: 50%;
  position: absolute;
  bottom: 10px;
}
.keys {
  /* display: flex; */
  display: grid;
  /* border: 1px solid red; */
  width: 400px;
  height: 400px;
  grid-template-columns: 125px 125px 125px;
  grid-template-rows: 125px 125px 125px;
  /* flex: 1; */
  /* min-height: 100vh; */
  align-items: center;
  justify-content: center;
  align-content: center;
}
:root {
  --key-background-color: black;
  --key-letter-color: white;
  --key-sound-color: #ffc600;
}
.key {
  border: 0.4rem solid var(--key-background-color);
  border-radius: 10.5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem 0.5rem;
  transition: all 0.07s ease;
  width: 10rem;
  height: 10rem;
  text-align: center;
  color: var(--key-letter-color);
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 0.5rem var(--key-background-color);
}

.playing {
  transform: scale(1.1);
  border-color: var(--key-sound-color);
  box-shadow: 0 0 1rem var(--key-sound-color);
}

kbd {
  display: block;
  font-size: 4rem;
  font-family: 'Potta One', sans-serif;
  margin-top: -10px;
  margin-bottom: -5px;
  text-shadow: 2px 1px 2px var(--key-background-color);
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--key-sound-color);
  text-shadow: 2px 1px 2px var(--key-background-color);
}
